body
{
	background-color: moccasin;
}

h1
{
	display: flex;
	justify-content: center;
	font-size: 2em;
	text-transform: uppercase; 
}
#article
{
	margin-left: 5%;
}
.tr2
{
	/*margin-left: 10%;*/
	font-size: 2em;
}
.tr3
{
	margin-left: 5%;
}
section h3
{
	margin-left: 10%;
}
